@import url('https://fonts.cdnfonts.com/css/andika-new-basic');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Prompt&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

nav span {
    position: relative;
    display: inline-flex;
    width: 100px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
    cursor: pointer;
    text-decoration: none;

}

a {
    font-size: 15px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;

}

a:before,
a:after {
    position: absolute;
    content: "LOGOUT";
    height: 55px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}

a:before {
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
}

a:after {
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
}

a:hover {
    transform: translateZ(-25px) rotateX(-90deg);
}



* {
    box-sizing: border-box;
    margin: 0;
}

.nav-container {
    height: 80px;
    background: #fffffa;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.5);
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 10%;
}

#mcv-logo {
    width: 185px;
    height: 37px;
}

button:hover {
    box-shadow: 0 0 20px rgba(255, 182, 65, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
    text-decoration: none;
}

.info {
    margin-left: 40%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: normal;
    line-height: 40px;
    display: flex;
    text-align: center;
    color: #000000;
    text-shadow: 2px 2px 5px red;
    line-height: 15px;
    word-spacing: 5px;


}

.select-container {
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 50%;
    display: flex;
}

.select-container select {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 13px;
    background-color: rgb(61, 61, 61);
    color: #fffffa;
    box-shadow: 0 5px 25px rgba(75, 150, 255, 0.7);
    border: 6px solid rgb(61, 61, 61);
    border-radius: 5px;
    outline: none;
    text-overflow: ellipsis;

}

.select-container select:hover {
    background-color: #000000;
    cursor: pointer;
    text-decoration: none;
}

.button {
    text-align: center;

}

#command1 {
    margin-right: 50px;
    width: 15%;
    height: 40px;
    border-radius: 50px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 75%;
    background: linear-gradient(90deg, #F17575 0%, #FCBA47 104.29%);
    color: #ffffff;
}

#command2 {
    margin-left: 50px;
    width: 15%;
    height: 40px;
    border-radius: 50px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 75%;
    background: linear-gradient(90deg, #F17575 0%, #FCBA47 104.29%);
    color: #ffffff;
}


.table-container {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

.table-title {
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#main-table {
    margin: auto;
    width: 100%;
    background: #EEE;
    border-radius: 10px;
    border-collapse: collapse;
    overflow: hidden;
    font-size: 14px;
    font-family: Poppins, Prompt, sans-serif;
    font-weight: 700;

}

tr {
    border-bottom: 20px solid white;
}

tr :last-child {
    border-bottom: none;
}

#main-table>thead {
    background-color: #F0CC95;
    color: black;
    font-size: 20px;

}

#main-table>thead>tr>th {
    font-weight: bold;
    text-align: center;
}

#main-table>tbody>tr {
    background: #F1F1F1;
}


#main-table td,
#main-table th {
    padding: 25px 10px;
    font-weight: lighter;
    text-align: center;
}

.material-icon {
    height: 10%;
    width: 10%;
}