@import url('https://fonts.cdnfonts.com/css/andika-new-basic');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

.nav-container {
    height: 80px;
    background: #fffffa;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding-left: 10%;
}

#mcv-logo {
    width: 185px;
    height: 37px;
    left: 118px;
    top: 22px;
}

.header-container {
    height: calc(100vh - 80px);
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-family: 'Andika New Basic';
    font-style: normal;
    font-weight: 700;
    color: #000000;
}

header p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #5B5858;
}

header button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    color: #ffffff;

    background: linear-gradient(90deg, #F17575 0%, #FCBA47 104.29%);
    border-radius: 50px;
    border: #fffffa;

    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0 10px(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

header button:hover,
header button:focus,
header button:active {
    box-shadow: 0 0 20px rgba(255, 182, 65, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
    text-decoration: none;
}



header .image-content {
    position: relative;
    display: flex;
    width: 50vw;
    margin-top: 7vh;
    justify-content: center;
}

span {
    font-family: 'Andika New Basic';
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    color: #C08504;
    margin-bottom: 40px;

}

.credit-container {
    display: flex;
    align-items: center;
    font-size: small;
    justify-content: center;
    margin-top: 50px;

}


/* For screens larger than 768px (bigger than Ipad air)*/
@media (min-width: 1000px) {

    h1,
    h1 span {
        line-height: 120%;
        margin-bottom: 50px;
        width: 55vw;
    }

    header p {
        line-height: 34px;
        margin-bottom: 40px;
        font-size: 16px;
    }

    header button {
        font-size: 33px;
        width: 200.48px;
        height: 75.87px;
    }

    .non-image-content {
        
        width: 50vw;
        padding-left: 10vw;
        font-size: 179%;
    }

    #file-icon {
        max-width: 76%;
        max-height: 76%;
    }
}

#file-icon {
    max-width: 76%;
    max-height: 76%;
    filter: drop-shadow(0px 8px 12px rgba(73, 10, 10, 0.25));
}


@media only screen and (max-width:1000px) {

    h1,
    h1 span {
        line-height: 120%;
        margin-bottom: 20px;
    }

    header {
        flex-direction: column-reverse;
        margin: auto;
        margin-right: 5%;
        margin-left: 5%;
    }

    header p {
        line-height: 20px;
        margin-bottom: 30px;
        font-size: small;
    }

    header button {
        font-size: 18px;
        width: 100.48px;
        height: 50.87px;
    }

    header .image-content {
        position: relative;
        display: flex;
        width: 50vw;
        margin-top: 5vh;
        margin-bottom: 6vh;
        justify-content: center;
    }

    .non-image-content {
        width: 90%;
        padding-left: 5%;
        font-size: 2.5em;
        margin-bottom: 5vh;
        justify-content: center;
        text-align: center;
    }

    #file-icon {
        max-width: 76%;
        max-height: 76%;
    }

    header button {
        width: 100%;
    }

    .credit-container {
        display: flex;
        align-items: center;
        font-size: small;
        justify-content: center;
        margin-top: 30%;
    }


}



/* For screens smaller than 768px (smaller than iPad air)*/
@media only screen and (max-width:768px) {

    h1,
    h1 span {
        line-height: 40px;
        margin-bottom: 20px;
    }

    header {
        flex-direction: column-reverse;
        margin: auto;
        margin-right: 5%;
        margin-left: 5%;
    }

    header p {
        line-height: 20px;
        margin-bottom: 30px;
        font-size: small;
    }

    header button {
        font-size: 18px;
        width: 100.48px;
        height: 50.87px;
    }

    header .image-content {
        position: relative;
        display: flex;
        width: 50vw;
        margin-top: 5vh;
        margin-bottom: 6vh;
        justify-content: center;
    }

    .non-image-content {
        width: 90%;
        padding-left: 5%;
        font-size: large;
        margin-bottom: 5vh;
        justify-content: center;
        text-align: center;
    }

    #file-icon {
        max-width: 76%;
        max-height: 76%;
    }

    header button {
        width: 100%;
    }

    .credit-container {
        display: flex;
        align-items: center;
        font-size: small;
        justify-content: center;
        margin-top: 30%;
    }


}