@import url('https://fonts.cdnfonts.com/css/andika-new-basic');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

.nav-container {
    height: 80px;
    background: #fffffa;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding-left: 10%;
}

#mcv-logo {
    width: 185px;
    height: 37px;
    left: 118px;
    top: 22px;
}

.header-container {
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-family: 'Andika New Basic';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 50px;
    line-height: 60px;
}

header p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: #5B5858;
    margin-bottom: 40px;
}

header button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    color: #ffffff;

    width: 200.48px;
    height: 75.87px;
    background: linear-gradient(90deg, #F17575 0%, #FCBA47 104.29%);
    border-radius: 50px;
    border: #fffffa;

    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0 10px(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

header button:hover,
header button:focus,
header button:active {
    box-shadow: 0 0 20px rgba(255, 182, 65, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
    text-decoration: none;
}



header .image-content {
    position: relative;
    width: 50vw;
    display: flex;
    margin-top: 7vh;
    justify-content: center;
}

span {
    font-family: 'Andika New Basic';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 100px;
    color: #C08504;
    margin-bottom: 40px;

}

.credit-container {
    display: flex;
    align-items: center;

    justify-content: center;
    margin-top: 50px;

}

.non-image-content {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2vh;
    padding-left: 10vw;
}

#file-icon {
    max-width: 76%;
    max-height: 76%;
    filter: drop-shadow(0px 8px 12px rgba(73, 10, 10, 0.25));
}