@import url('https://fonts.cdnfonts.com/css/andika-new-basic');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Prompt&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
}

.nav-container {
    height: 80px;
    background: #fffffa;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 10%;
    justify-content: space-between;
}

#mcv-logo {
    width: 185px;
    height: 37px;
}

button:hover {
    background: linear-gradient(90deg, #F17575 104.29%, #FCBA47 0%);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
    text-decoration: none;
}

#logout-button {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
}

.info {
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: normal;
    line-height: 40px;
    display: flex;
    text-align: center;
    color: #000000;
    line-height: 15px;
    word-spacing: 5px;
}

nav span {
    display: inline-flex;
    width: 180px;
}


a {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    font-size: 15px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;

}

a:before,
a:after {
    position: absolute;
    content: "LOGOUT";
    height: 55px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}

a:before {
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
}

a:after {
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
}

a:hover {
    transform: translateZ(-25px) rotateX(-90deg);
}


* {
    box-sizing: border-box;
    margin: 0;
}

.nav-container {
    height: 80px;
    background: #fffffa;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 10%;
    justify-content: space-between;
}

#mcv-logo {
    width: 185px;
    height: 37px;
}

button:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    cursor: pointer;
    text-decoration: none;
}

#logout-button {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
}

.info {
    margin-left: 40%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: normal;
    line-height: 40px;
    display: flex;
    text-align: center;
    color: #000000;
    line-height: 15px;
    word-spacing: 5px;
}



.select-container {
    margin-top: 3%;
    margin-bottom: 0%;
    padding: 0 10%;
    padding-bottom: 1%;
}

.section-title {
    margin-right: 8%;
    margin-bottom: 2%;
    font-family: 'Andika New Basic';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
}

.select-container select {
    padding-left: 2%;
    width: 100%;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 15px;
    background-color: white;
    color: #AAA7A7;
    border: 2px solid #AAA7A7;
    border-radius: 5px;
    outline: none;
    text-overflow: ellipsis;
}

select::marker {
    background-color: black;
}


.select-container select:hover {
    border-color: #018ADA;
    cursor: pointer;
    text-decoration: none;
}

.button-selec {

    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3%;
    font-weight: 500;
}

.button {
    margin-top: 2%;
    align-items: center;
}

#command1 {
    margin-right: 50px;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: none;
    font-family: 'Inter';
    font-style: large;
    font-weight: 700;
    font-size: 70%;
    background-color: rgb(42, 45, 72);
    color: #ffffff;
    transition: background 0.8s;

}

#command2 {
    margin-right: 50px;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: none;
    font-family: 'Inter';
    font-style: large;
    font-weight: 700;
    font-size: 70%;
    background: #835505;
    color: #ffffff;
    transition: background 0.8s;
}

#command1:hover {
    background: black;
    background-image: radial-gradient(circle, transparent, 1%, black 1%);
    background-size: 15000%;
    background-position: center;
}

#command2:hover {
    background: black;
    background-image: radial-gradient(circle, transparent, 1%, black 1%);
    background-size: 15000%;
    background-position: center;
}

#command1:active {
    transition: background 0s;
    background-color: white;
    background-size: 100%;
}

#command2:active {
    transition: background 0s;
    background-color: white;
    background-size: 100%;
}

h2 {
    color: rgb(56, 56, 56);
}

.table-container {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

.table-title {
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-top: 3%;
}

#main-table {
    margin: auto;
    width: 100%;
    background: #EEE;
    border-radius: 10px;
    border-collapse: collapse;
    overflow: hidden;
    font-size: 14px;
    font-family: Poppins, Prompt, sans-serif;
    font-weight: 700;
}



tr {
    border-bottom: 20px solid white;
}

tr :last-child {
    border-bottom: none;
}

#main-table>thead {
    background-color: #3C4064;
    color: white;
    font-size: 15px;

}

#main-table>thead>tr>th {
    font-weight: normal;
    text-align: center;
    padding: 20px 10px;
}

#main-table>tbody>tr {
    background: #F1F1F1;
}

#main-table>tbody>tr>th {
    padding: 20px 20px;
}


#main-table td,
#main-table th {
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    align-items: center;

}

#main-table td {
    font-size: medium;
}

.material-icon {
    height: 20%;
    width: 20%;
    padding-top: 2.5%;
}

.checkbox {
    width: 25px;
    height: 25px;
    padding-top: 2.5%;
    cursor: pointer;
}

.button-describe {
    font-family: 'Inter';
    font-style: normal;
    font-size: 15px;
    color: #686868;
    line-height: 150%;
    width: 180px;
}

.credit-container {
    display: flex;
    align-items: center;

    justify-content: center;
    margin-top: 50px;
    margin-bottom: 1%;
}

.checkall-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15.5px;

}

#select-all-checkbox {
    margin-right: 5%;
    width: 25px;
    height: 25px;
    padding-top: 2.5%;
    cursor: pointer;
}