@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap");

:root {
  --standard-border-radius: 8px;
}

body {
  font-family: "Mitr", sans-serif;
}

#app-name {
  font-size: 2.2em;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

section {
  margin: 20px 0;
}
.section-title {
  font-size: 1.25em;
  font-weight: bold;
  margin: 10px 0;
}
.section-subtitle {
  font-size: 1.1em;
}
.section-center {
  text-align: center;
}
.section-credit {
  text-align: center;
  font-size: 1.1em;
}
.section-right {
  text-align: right;
}
.section-left {
  text-align: left;
}

.description {
  text-align: center;
  color: rgb(0, 2, 107);
}

.info {
  font-size: 1em;
}

.button {
  border-radius: 8px;
  padding: 5px 5px;
  border: 1px solid #aaa;
  background: white;
  cursor: pointer;
  font-family: "Mitr", sans-serif;
  font-size: 1em;
  text-align: center;
  width: fit-content;
}
.button:hover {
  background: rgb(255, 200, 105);
  color: white;
}
.logout-button:hover {
  background: rgb(204, 19, 19);
  color: white;
}
.change-page-button:hover {
  background: rgb(94, 127, 236);
  color: white;
}

.main-table {
  margin: 10px 0;
  padding: 0;
  width: 100%;
  background: #eee;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  overflow: hidden;
}
.main-table > thead {
  background: #555;
  color: white;
}
.main-table > thead > tr > th {
  text-align: left;
}
.main-table td,
.main-table th {
  padding: 5px 10px;
  font-size: 1em;
}
.main-table input,
.main-table select,
#name-to-add-2{
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
  font-family: "Mitr", sans-serif;
  font-size: 1em;
}
.main-table button {
  border-radius: 8px;
  padding: 5px 10px;
  border: 1px solid #aaa;
  background: white;
  width: 60px;
  cursor: pointer;
  font-family: "Mitr", sans-serif;
  font-size: 1em;
}
.main-table button:hover {
  background: rgb(255, 200, 105);
  color: white;
}

#delete-button{
  border-radius: 8px;
  padding: 5px 10px;
  border: 1px solid #aaa;
  background: white;
  width: 60px;
  cursor: pointer;
  font-family: "Mitr", sans-serif;
  font-size: 1em;
}
#delete-button:hover {
  background: rgb(255, 200, 105);
  color: white;
}